html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.commonText {
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  color: #3E3E3E;
  line-height: 22px;
}

.commonTextBigger{
  font-family:"HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  color: #3E3E3E;
  line-height: 30px;
}

#mobilemargin{
  margin: 30px;
}

.redlogo {
  display: none;
}

#margintop{
  margin-top:200px;
}

.textpadding{
  margin-right: 40px;
}

.redbar {
  height: 10px;
  background-color: red;
  margin-left: 10%;
 margin-right: 10%;
}


/* -------/////--------- */

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
/* End of Scrollbar */

/* -------/////--------- */

.header {
  height: 50px;
  display: flex;
  width: 100%;
  margin: 60px 20px 20px 20px;
  position: relative;
}

.header img {
  height: 70%;
  margin-right: 60px;
}

#myTopnav {
  position: absolute;
  right: 20px;
  z-index: 100;
}

#myTopnav a {
  margin-left: 20px;
  color: #067A6A;
  text-decoration: none;
  margin-left: 10px;
  font-family: sans-serif;
  padding: 5px 10px;
  font-size: 10px;
  transition-duration: .3s;
}

#myTopnav a.icon {
  font-size: 20px;
}

#myTopnav a:hover {
  background-color: #E4FFFB;
  transition-duration: .3s;
}

.topnav .icon {
  display: none;
}

#topborder {
  margin-top: 50px;
  margin-left: -5px;
  margin-bottom: -1px;
  width: 100%;
  height: 19px;
}

/* -----------/////----------- */
.mainbanner {
  width: 100%;
  height: 360px;
  background-color: #E6822F;
  margin-top: -5px;
  -webkit-box-shadow: 2px 3px 44px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 44px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 44px -26px rgba(0, 0, 0, 0.75);
}

.mainbanner img {
  display: none;
  z-index: -2;
}

.mainbanner p {
  color: white;
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}


.textArea button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.textArea .buttonimage {
  display: inline-block;
  margin-right: 10px;
}

#topborder {
  margin-top: 50px;
  margin-left: -5px;
  margin-bottom: -1px;
  width: 100%;
  height: 19px;
}

.textArea button img {
  height: 20px;
}

.textArea {
  padding-top: 80px;
  text-align: center;
  font-family: sans-serif;
  max-width: 300px;
  margin: 0 auto;
  transition-duration: .3s;
}

.textArea a {
  text-decoration: none;
  font-weight: 400;
}

.textArea:first-child {
  font-size: 24px;
  padding-left: 15%;
  padding-right: 15%;
}

.detailWhiteText a {
  color: white;
}

.detailWhiteText {
  font-size: 15px;
  font-weight: 100;
}

.textArea button {
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 15px;
  width: 260px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 10px 11px -10px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 10px 11px -10px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 10px 11px -10px rgba(0, 0, 0, 0.44);
  transition-duration: .3s;
}

.textArea button:hover {
  background-color: #c40000;
  transition-duration: .3s;
}

.tealHeader {
  color: #1FA591;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 45px;
  font-weight: 500;
}

.redDetailText {
  color: #E01200;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}
/* -----------/////----------- */

.mainSectionTwo{
  position:relative;
}
.mainSectionTwo img{
  display:none;
}
/* -----------/////----------- */

.scrollBox {
  background-color: #fafafa;
  position: relative;
  margin-right: 20px;
      margin-bottom: 20px;
  width: 340px;
  height: 420px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 14px -9px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 5px 10px 14px -9px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 10px 14px -9px rgba(0, 0, 0, 0.44);
  transition-duration: .3s;
}

.scrollBox:hover {
  background-color: #f6f6f6;
  transition-duration: .3s;
  -webkit-box-shadow: 5px 10px 14px -9px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 5px 10px 14px -9px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 10px 14px -9px rgba(0, 0, 0, 0.14);
}

.flexScroll {
  overflow: auto;
  white-space: nowrap;
  margin-top: -28px;
}

.quotationMark {
  font-size: 180px;
  color: #1FA591;
  margin: 0px;
  position: absolute;
  top: 40px;
  opacity: .2;
  left: 0px;
}

.detailText {
  position: absolute;
  top: 70px;
  margin: 20px 20px 0px 0px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  ;
  color: #3E3E3E;
  line-height: 20px;
}

.detailText p {
  overflow: auto;
}

.textcenter {
  text-align: center;
}

.boldRedText {
  right: 20px;
  font-family: Helvetica, sans-serif;
  ;
  position: absolute;
  margin-top: 60px;
  color: red;
  font-weight: 400;
  font-size: 13px;
}

.cardimage {
  width: 150PX;
  position: ABSOLUTE;
  BOTTOM: 50PX;
      right: 110px;
}

.cardimage2 {
  width: 150PX;
  position: ABSOLUTE;
  BOTTOM: 50PX;
  right:110px;
}

.flexScroll {
  /* margin-left: 5%; */
}

.flexScroll div {
  display: inline-block;
  white-space: pre-wrap;
}


/* --------/////------ */

.col {
  max-width: 550px;
}

.tealHeaderSmall {
  color: #1FA591;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: 20px;
  margin-top: 60px;
}

.pinkDetailText {
  display: inline;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #DB3762;
  font-weight: 600;
  text-decoration: none;
}
/* --------/////////////////------ */

.footer {
  height: auto;
  background-color: #881D51;
  margin-top: 200px;
  padding: 0px 0px 70px 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.footer #footerborder {
  width: 100%;
  position: absolute;
  bottom: 611px;
  margin-left: -40px;
}

.footer img {
  height: 30px;
  margin-top: 70px;
}

.footertext {
  color: white;
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 12px;
  width: 240px;
  margin-right: 30px;
}

.lrgfootertext {
  color: white;
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 24px;
  width: 240px;
  margin-bottom: 5px;
  margin-top: 70px;
}

.footericons img {
  margin-top: 0px;
  margin-right: 5px;
  transition-duration: .3s;
}

.footericons img:hover {
  opacity: .5;
  transition-duration: .3s;
}

.footerlinks {
  margin-top: 120px;
}

.footerlinks a{
      margin-right: 10px;
      text-decoration: none;
}

@media screen and (min-width:700px) {


.header img{
      margin-left: 80px;
}
  .whiteblock {
      height: 400px;
      width: 890px;
      /* right: 274px; */
      position: absolute;
      z-index: 0;
      background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0.8701855742296919) 59%, rgba(255,255,255,0) 86%);
    }

  #mobilemargin{
    margin-left: 180px;
    margin-right: 200px;
  }
.margintop{
  padding-top:100px;
}
  .mainbanner {
    position: relative;
  }

  .blocktext{
    max-width: 400px;
    z-index: 1;
  }

  .mainSectionTwo {
    /* display: flex; */

    }

    .mainSectionTwo img {
      z-index: -3;
      position: absolute;
      display: inline-block;
      right: -80px;
      /* float: right; */
      margin-bottom: 100px;
    }


  .textArea {
    position: absolute;
    top: 0px;
    right: 25%;
    float: right;
    transition-duration: .3s;
    z-index: 7;
  }

  .textArea p {
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .textArea a {
    font-size: 17px;
  }

  .textArea button {
    margin-bottom: 20px;
  }

  #whitelogo {
    z-index: 2;
    display: inline-block;
    height: 460px;
    width: 700px;
    margin-left: 10%;
  }

  #whitelogo {
    z-index: 2;
    display: inline-block;
    height: 360px;
    width: 700px;
    margin-left: 10%;
  }

.footer{
  padding: 0px 00px 70px 160px;
}

.footerlinks{
      margin: 110px 0px 0px 0px;
}

.footertext{
  MARGIN-RIGHT:30PX;
}

  .orangeblock {
    width: 1000px;
    float: right;
    height: 360px;
    background: linear-gradient(90deg, rgba(238, 174, 202, 0) 0%, rgba(230, 130, 47, 0.7483368347338936) 48%, rgba(230, 130, 47, 1) 75%);
    position: absolute;
    top: 0;
    right: 000px;
  }
}
@media screen and (min-width:900px){
  .mainSectionFour {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
  }

  .flexbox{
    display:flex;
  }

  .redlogo {
      display: inline;
      width:80%;
      margin-left:100px;
      margin-top:160px;
    }

  .blocktext {
    width: 70%;
  }

  .newssection{
    display:flex;

  }
}


@media screen and (max-width: 970px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

  @media screen and (max-width: 970px) {
    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      background-color: white;
    }
  }
