html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
height:50px;
display:flex;
width: 100%;
margin:60px 20px 20px 20px;
position: relative;

}

.header img{
height: 100%;
margin-right: 60px;
}

#myTopnav{
 position: absolute;
 right: 20px;

}

/* Check the sizes of the links */
#myTopnav a{
  margin-left:20px;
  color: #067A6A;
  text-decoration: none;
  margin-left:10px;
  font-family: sans-serif;
  padding:5px 10px;
  font-size:10px;
  transition-duration: .3s;
}

#myTopnav a:hover{
  background-color: #E4FFFB;
  transition-duration: .3s;
}

.topnav .icon {
  display: none;
}

.mainbanner {
  width:100%;
  height:360px;
  background-color: #E6822F;
  margin-top: -5px;
}

#topborder{
  margin-top:50px;
  margin-left: -5px;
  margin-bottom: -5px;
  width:100%;
}

.mainbanner p{
  color:white;
  margin-top:0px;
}

button img{
  height:20px;
}

.textArea{
  padding-top: 10%;
  text-align: center;
  font-family: sans-serif;
}

.textArea:first-child{
  font-size:24px;
  padding-left:15%;
  padding-right:15%;
}

.detailWhiteText a{
  color:white;
}

.detailWhiteText{
  font-size: 15px;
  font-weight: 100;
}

.textArea button{
  padding:10px;
  background-color: red;
  border-radius: 5px;
  color:white;
  border: none;
  font-size: 15px;
  width:260px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 10px 11px -10px rgba(0,0,0,0.44);
  -moz-box-shadow: 0px 10px 11px -10px rgba(0,0,0,0.44);
  box-shadow: 0px 10px 11px -10px rgba(0,0,0,0.44);
    transition-duration: .3s;
}

.textArea button:hover{
  background-color: #c40000;
  transition-duration: .3s;
}

.tealHeader{
  color: #1FA591;
  text-align: center;
  font-family: sans-serif;
  font-size:30px;
  font-weight: 500;
}

.redDetailText{
  color: #E01200;
  text-align: center;
  font-family: sans-serif;
  font-size:20px;
}

.commonText{
  font-family:sans-serif;
  font-size:11px;
  color: #3E3E3E;
  line-height: 16px;
  margin: 0px 70px;
}

.mainSectionTwo img{
  width: 90%;
  float: right;
  margin-top: 70px;
}



@media screen and (max-width: 900px) {
  .topnav a{
  display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color:white;
  }
}
